<main>
	<%- include('../partials/agentSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="transparent-bg shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>
		
		<div class="d-flex flex-column gap-3 flex-wrap m-4 text-black">
			
			
			<div class="bg-primary-transparent rounded p-3" style="width: 350px; height: 50px;">
					<div class="fs-5">donations collected by you = <%= numCollectedDonations %></div><br>

			</div>
			<div>

			<div class="bg-primary-transparent rounded p-3" style="width: 350px; height: 50px;">
						<div class="fs-5">donations not collected yet = <%= numAssignedDonations %></div>
		
				
			</div>
			
			
			
				
				
			
			
		</div>
		
		
	</div>
</main>